<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="Academy.Listeners"/>
</listeners>

  <test name="HomePagetoLogin">
    <classes>
      <class name="Academy.HomePageToLogin"/>
    </classes>
  </test> 
  
  <test name="ValidatingTitle">
    <classes>
      <class name="Academy.validateTitleHome"/>
    </classes>
  </test> 
  
  <test name="ValidatingContactBar">
    <classes>
      <class name="Academy.validateContactBarHome"/>
    </classes>
  </test> 
  
</suite> <!-- Suite -->
